<!DOCTYPE html>



<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/shishirraven/animate-on-scroll@v1.0/oyethemes_onscroll_animation.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/shishirraven/animate-on-scroll@v1.2/animation_utility.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>ClubArchive</title>
    <link rel="icon" href="../public/img/finalLogo2.png">
    <style>
        html {
            scroll-behavior: smooth;
        }
        .card{
                width: 100%; margin-left: 0% ; height: 100%
            }
        .card-img-top {
            height: 170px;
        }
    </style>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <div >
        <div class ="container">
            <div class = "row">
                    <div class ="col-sm-2">
                        <a href = "/"><img src = "../public/img/blueLogo.png" style = "width: 100px; height: 100px; "></a>
                    </div>
                    
                    <div class = "col">
                        <form class="example" action="/search" style="margin:auto" method="GET">
                            <input style ="margin-top:24px" placeholder="Engineering Clubs, Frats, Bagel Club" type="text" class="form-control form-control-lg" name = "search2" >
                        </form>
                            
                    </div>
                    <div class = "col" >
                        <% if (!loggedIn) {%>
                            <button type="button" class="btn btn-outline-dark" style = "font-size:18; float: right; margin-top:24px ; margin-right: 3% ; color:white; background-color: #38a8f3" onclick= "window.location.href = '/signup';">Sign Up</button>
                            <button type="button" class="btn btn-outline-dark signUp"  style = "font-size:18; float : right; margin-top: 24px; margin-right: 3%;" onclick= "window.location.href = '/login';">Log in</button>
                        <% } %> 
                        <% if(loggedIn) { %>
                            <div class="dropdown">
                        
                                <img src = "<%= user.image %>" style = "width: 50px; height: 50px; float:right; margin-right:45px; border-radius: 10%;margin-top:22px" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/userprofile">View Profile</a>
                                    <a class="dropdown-item" href="/userlogout">Logout</a>
                                </div>
                            </div>
    
                        <% } %>
                    </div>
    
            </div>
        </div>
    </div>
    <div style = "height: 450px;background-image: url('/public/img/aboutPageBackground.jpg');background-position:center;background-size:cover;filter: brightness(60%);">
        
        
            
    </div>
    <h1 style = "color:white;font-weight: bold;margin-top: 0%;position:relative;margin-top: -150px;text-align: center;font-size: 50px;">ClubArchive connects students with<br> great clubs and organizations.</h1>
    
    
    <center><div class = "container" style = "margin-top:50px">
        <h1 style = "font-size: 40px;">Meet the Founders</h1>
        <hr>
        <div class = "row">
            <div class = "col">
                <div class="card" style="width: 18rem;" data-aos="zoom-in">
                    <img class="card-img-top" src="../public/img/square_headshot.jpg" alt="Card image cap" style = "height:200px">
                    <div class="card-body">
                      <h4 class="card-text" style = "text-align: center;">Quentin Romanowski</h3>
                    </div>
                </div>
            </div>
            <div class = "col">
                <div class="card" style="width: 18rem;" data-aos="zoom-in">
                    <img class="card-img-top" src="../public/img/profilepic2.jpg" alt="Card image cap" style = "height:200px" >
                    <div class="card-body">
                      <h4 class="card-text" style = "text-align: center;">Arvind Venkatesan</h3>
                    </div>
                </div>
            </div>
        </div>
    </div></center>
    
    
    
    
    
    <center><div class ="container" style = "margin-top:100px">
        <div class = "row">
            <div class = "col">
                <div data-aos="zoom-in">
                    <img src ="../public/img/people.png" style = "width:200px; margin-left:10%">
                </div>
            </div>
            <div class = "col">
                <div data-aos="fade-left" style = "margin-left: 10%;" >
                    <h2 style ="font-size: 200%;">Founded in 2020</h4>
                </div>
            </div>
            
        </div>
    </div></center> 
    
    
    
    
    
    
    <center><div class ="container" style = "margin-top:100px;margin-bottom:100px">
        <div class = "row">
            <div class = "col">
                <div data-aos="fade-right" style = "margin-left: 10%;" >
                    <h2 style ="font-size: 200%;">Built for the greatest students in the world!</h4>
                    
                </div>
            </div>
            <div class = "col">
                <div data-aos="fade-left">
                    <img src ="../public/img/tamu.png" style = "width:200px; margin-left:10%">
                </div>
            </div>
        </div>
    </div></center>
    

</body>