<html>


    <head>
            <meta charset="utf-8">
            <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <title>ClubArchive</title>
            <style>
                a:visited{
                    color: black;
                }
                a:hover {
                    text-decoration : none;
                    color: black;
                }
                a{
                    color:black
                }
                .btn-outline-secondary:hover {
                    background-color: #41bbac
                }

                .btn-outline-dark {
                    width:15%;
                    height: 45%;
                    color:black;
                }
                .btn-outline-dark:hover {
                    background-color: lightgray
                }
                
            
            </style>



    </head>
    

    <body>
        <hr style = "margin-top: 0%">


        <div class ="container">
            <% applications.forEach(app => { %>

                <div class="card" style="width: 18rem; margin-left:10%">
                    <div class="card-body">
                      <h5 class="card-title"><%=app.club.name%></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%=app.club.president_organizer%></h6>
                      <p class="card-text"><%=app.club.email%></p>
                      <div class="form-group">
                        <label for="exampleSelect1"></label>
                        
                        <form action = "/clubarchiveapprovedprocessed/<%=app._id%>" method ="POST">
                            <select class="form-control" id="exampleSelect1" name = "applicationdecision">
                                <option>Accept</option>
                                <option>Reject</option>
                            
                            </select>
                            <button  type="submit" class="btn btn-outline-secondary" style = "margin-top: 1%; width: 50%">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
            <% }) %> 
        </div>
    </body>