<!DOCTYPE html>

<html>

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <title>ClubArchive</title>
            <style>
                .btn, .btn-outline-secondary {
                        margin-left: 33% ;margin-top: 3%; width : 30%; height: 40px; font-size: 100%; margin-bottom : 2%
                }
                .btn-outline-secondary:hover {
                    background-color: lightgrey
                }
                .form-control, .form-control-lg {
                    width :30%; height : 50%; margin-left : 33%;
                }
                .form-group {
                    width:100%; margin-left: 0%;
                }
                @media only screen and (max-width: 600px) {
                    .btn, .btn-outline-secondary {
                        margin-left: 25% ;margin-top: 3%; width : 48%; height: 40px; font-size: 100%;
                    }
                    .btn-outline-secondary:active {
                        background-color: #41bbac
                    }
                    
                    .form-control, .form-control-lg {
                        width :60%; height : 35px; margin-left : 20%; margin-top: 10%
                    }
                    .form-control::placeholder {
                        font-size: 70%;
                    }
                
                }  
            
            </style>

    </head>


    <!--Figure out the requirements for this before programming-->
    <body>
            <nav class="navbar navbar-expand-sm navbar-light" style = "background-color:#38a8f3 ;">
           
                    <a href = "/" style = " margin-left: 45%;"><img src = "../public/img/finalLogo2.png" style="width :100px; height:100px;" ></a>
                
            
            </nav>
            <form method="POST" >
                <input placeholder="Organization Name" type="text" class="form-control form-control-lg" style = "margin-top : 5%" name = "name">
                
                <input placeholder="Current Or Estimated Membership Count" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "memberCount">

                <input placeholder="Organizer, Admin or President of Organization" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "president_orginizer">
                <input placeholder="Organization Email" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "email">
                <input placeholder="Organization Phone Number" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "phonenumber">
                <input placeholder="Username" type="text" class="form-control form-control-lg" style = "margin-top: 2%" name = "username">
                <input placeholder="Password" type="password" class="form-control form-control-lg" style = "margin-top: 2%" name ="password" >
                <div class="form-group">
                    <label for="exampleSelect1"></label>
                    <select class="form-control" id="exampleSelect1" name = "category">
                      <option>Academic Organization</option>
                      <option>Greek Organization</option>
                      <option>Sports</option>
                      <option>Interest Groups</option>
                    </select>
                  </div>
                <button  type="submit" class="btn btn-outline-secondary" style = "margin-top: 1%;">Sign Up</button>
            </form>






    </body>







</html>