<!DOCTYPE html>



<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <title>ClubArchive</title>
    <link rel="icon" href="../public/img/finalLogo2.png">
    <style>
        .map {
            height: 200px;
            width: 200px;
        }
        .contactBox {
            width: 110%;
            border: 8px solid lightgrey;
            padding: 10px;
            margin: 20px; 
        }
    </style>
</head>
<body>

    <div >
        <div class ="container">
            <div class = "row">
                    <div class ="col-sm-2">
                        <a href = "/"><img src = "../public/img/blueLogo.png" style = "width: 100px; height: 100px; "></a>
                    </div>
                    
                    <div class = "col">
                        <form class="example" action="/search" style="margin:auto" method="GET">
                            <input style ="margin-top:24px; height:50px;" placeholder="Engineering Clubs, Frats, Bagel Club" type="text" class="form-control form-control-lg" name = "search2" >
                        </form>
                            
                    </div>
                    <div class = "col" >
                        <% if (!loggedIn) {%>
                            <button type="button" class="btn btn-outline-dark" style = "font-size:18; float: right; margin-top:24px ; margin-right: 2% ; color:white; background-color: #38a8f3; height:50px;width: 85px" onclick= "window.location.href = '/signup';">Sign Up</button>
                            <button type="button" class="btn btn-outline-dark signUp"  style = "font-size:18; float : right; margin-top: 24px; margin-right: 2%;height:50px; width: 85px" onclick= "window.location.href = '/login';">Log in</button>
                        <% } %> 
                        <% if(loggedIn) { %>
                            <div class="dropdown">
                        
                                <img src = "<%= user.image %>" style = "width: 50px; height: 50px; float:right; margin-right:45px; border-radius: 10%;margin-top:22px" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/userprofile">View Profile</a>
                                    <a class="dropdown-item" href="/userlogout">Logout</a>
                                </div>
                            </div>
    
                        <% } %>
                    </div>
    
            </div>
        </div>
        
        
    </div>
    <div style = "height: 450px;background-image: url('/public/img/AcademicBuilding-TAMU.jpg');background-position:center;background-size:cover;filter: brightness(60%);">
        
        
            
    </div>
    <h1 style = "color:white;font-weight: bold;margin-top: 0%;position:relative;margin-top: -150px;text-align: center;font-size: 50px;">Howdy!<br> We are glad you are here!</h1>
</body>