<!DOCTYPE html>

<html>





    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link rel="icon" href="../public/img/finalLogo2.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>ClubArchive</title>
        <!-- <link rel="icon" href="updatedlogo.png"> -->
        <style>
            * {
                box-sizing: border-box;
            }
            a{
                color:black;
            }
            a:visited{
                color: black;
                
            }
            a:hover {
                text-decoration : none;
                color:black
            }
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .btn, .btn-outline-secondary {
                     margin-left: 22%; margin-right:0%; margin-top: 1.5%; width : 13%; height: 5%; font-size: 90%; background-color: white;
            }
            
            .form-control, .form-control-lg {
                width :50%; height : 50%; margin-left : 25%; margin-top: 0%
            }
            .btn-outline-dark {
                width:140%;
                height: 100%;
                color:black;
            }
            .btn-outline-dark:hover {
                background-color: lightgray
            }
            .card{
                width: 100%; margin-left: 0% ; height: 100%
            }
            .card-img-top {
                height: 170px;
            }
            /* Extra small devices (phones, 600px and down) */
            /* @media only screen and (max-width: 600px) {
                .btn, .btn-outline-secondary{
                    margin-left: 1% ;margin-top: 3%; width : 48%; height: 40px; font-size: 100%;
                }
                .btn-outline-secondary:active {
                    background-color: #41bbac
                }
                
                .form-control, .form-control-lg {
                    width :98%; height : 35px; margin-left : 1%; margin-top: 10%
                }
                .form-control::placeholder {
                    font-size: 70%;
                }
                .card-text {
                    display: none;
                }
                .card {
                    height:170px;
                    width: 150px
                }
                .card-img-top {
                    height: 90px;
                }
                .searchButton {
                    display : none;
                }
            }    */

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                .btn, .btn-outline-secondary {
                    font-size : 100%;
                }
                
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                .btn, .btn-outline-secondary {
                    font-size : 60%;
                }
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                .btn, .btn-outline-secondary {
                    font-size : 80%;
                }
            }

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {

            }
            
            body {
                font-family: 'Didact Gothic', sans-serif;
                height: 100%;
            }
            html {
                height:100%
            }
            
            .main {
                background-image: url('/public/img/graduation.jpg');
                            /* Full height */
                height: 100%;

    /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .decorationPic {
                margin-top:1%;
                margin-left:48.5%;
                width: 30px;
                height: 30px;
                text-align: center;
            }
            .featured {
                margin-top : 2%
            }
            .btn-icon {
              width: 20px;
              height: 20px;
            }
            
            
        </style>
        

    </head>
    <body>
        <div class = "main" >
            <div >
                <% if (!loggedIn && !clubloggedin) { %>
                    <li style = "list-style: none; float:right;margin-right:2%; margin-top: 1.3%">
                            <button type="button" class="btn btn-outline-dark"  style = "font-size:24;width: 80px;  " onclick= "window.location.href = '/login';">Log in</button>
                    </li>
                        
                    <li style = " list-style: none; float: right; margin-right : 1%; margin-top:1.3%">
                            <button type="button" class="btn btn-outline-dark" style = "font-size:24;width: 80px" onclick= "window.location.href = '/signup';">Sign Up</button>
                    </li>
                <% } %>
                <% if(loggedIn) { %>
                    <div class="dropdown">
                        
                        <% if(user.image.id != "0") {%> 
                            <img src = "image/<%=user.image.filename%>" style = "width: 50px; height: 50px; float:right; margin-right:45px; border-radius: 10%;margin-top:22px;object-fit: cover;" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% }  else { %>
                            <img src = "../public/img/defaultProfileImage.png" style = "width: 50px; height: 50px; float:right; margin-right:45px; border-radius: 10%;margin-top:22px;object-fit: cover;" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% } %>                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/userprofile">View Profile</a>
                            <a class="dropdown-item" href="/usersettings">User Settings</a>
                            <a class="dropdown-item" href="/betatest">Report Issues/Feedback</a>
                            <a class="dropdown-item" href="/clubsignup">Claim your organization!</a>
                            <a class="dropdown-item" href="/userlogout">Logout</a>
                        </div>
                    </div>
                    
                <% } %>
            </div>
                
            <br>
            <br>
            <br>
            <br>
                        <center>
                            <a href = '/' ><img src="/public/img/clubArchive.png" style = "width: 300px; height: 300px;display: block; margin: 0 auto; "></a>
                        </center>
                        
                            <form class="example" action="/search" style="margin:auto" method="GET">
                                <input type="text" placeholder="Search.." name="search2" class ="form-control form-control-lg" style = "float:left; border-radius: 0%;height:43px">
                                <button type="submit" class = "searchButton" style = "height: 43px;float:left; width:44px;background-color: white;border: none;background-image: url('/public/img/searchIcon.jpg');background-position: center; background-size: 98%;"><i style = "background-image: url('/public/img/Search-Button.jpg');"></i></button>
                            </form>
                        
        </div>  
        <!--Org Type Search-->
        <div class = "container">
          <div class = row style = "margin-top:3%">
              <h2 class = "col-sm" style = "text-align:center"> Find the Best Clubs at your University</h2>
              
          </div>
          <hr style = "width: 99%; margin-left:0%">
          <div class = "row" style = "margin-top:1%;">
            <div class = "col" >
                <a href="/academicSearch">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/school.jpg" alt="Card image cap" style = >
                        <div class="card-body">
                            <h5 class="card-title" style = "text-align: center;">Academic</h5>
                            
                        </div>
                    </div>
                </a>
                        
                    
                
            </div>
            <div class = "col" >
                <a href = "/greekSearch">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/sorority.jpg" alt="Card image cap" >
                        <div class="card-body">
                          <h5 class="card-title" style = "text-align: center;">Greek Life</h5>
                          
                        </div>
                    </div>
                </a>
                
            </div>  
            <div class = "col" >
                <a href = "/sportSearch">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/club-sports.jpg" alt="Card image cap"  >
                        <div class="card-body">
                          <h5 class="card-title" style = "text-align: center;">Sports</h5>
                          
                        </div>
                    </div>
                </a>
                
            </div> 
            <div class = "col" >
                <a href = "/specialSearch">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/specialInterest.JPG" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style = "text-align: center;">Special Interest</h5>
                         
                        </div>
                    </div>
                </a>
                
            </div> 
              
          </div> 

        </div>
        
        <!--Hot Clubs-->
        <div class = "featured container" >
          <h3 style = "text-align: center;">Texas A&M's Club Archive</h4>

          <h4 style = "margin-top: 2%">Our Top Picks</h4>
          <hr style = "width: 99%; margin-left:0%">
          <div class = "row" style = "margin-top:1%">
            <div class = "col" >
                <a href = "/post/5ee6bf1665c023002484d3c6">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/logo2.jpg" alt="Card image cap" style = "height:200px"  >
                        <div class="card-body">
                        <h5 class="card-title">Club Archive</h5>
                        <p class="card-text descriptionClub" style = "font-size: small;">This is clubarchive, the best way to link people to clubs. Everything in the world this day is online, and why shouldn't club searching be either? Find clubs today!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class = "col" >
                <a href = "/post/5eebef91529997002472b03e">
                    <div class="card" >
                        <img class="card-img-top" src="/public/img/awics.png" alt="Card image cap" style = "height:200px;transform: scale(1,.8);" >
                        <div class="card-body">
                          <h5 class="card-title">Aggie Women in Computer Science</h5>
                          <p class="card-text" style = "font-size: small;">AWICS is a Texas A&M University organization that is built on a community of university students who want to explore their interest in the field of technology and empowering women.</p>
                        </div>
                      </div>
                </a>
                
            </div>  
            <div class = "col" >
                <div class="card" >
                    <img class="card-img-top" src="/public/img/1591673444233-switzerland-3840x2160-4k-hd-wallpaper-river-mountains-rocks-5706.jpg" alt="Card image cap" style = "height:200px">
                    <div class="card-body">
                      <h5 class="card-title">Prospective Club</h5>
                      <p class="card-text">Example of a short summary of a club</p>
                    </div>
                  </div>
            </div> 
            <div class = "col" >
                <div class="card" >
                    <img class="card-img-top" src="/public/img/1591673444233-switzerland-3840x2160-4k-hd-wallpaper-river-mountains-rocks-5706.jpg" alt="Card image cap" style = "height:200px; " >
                    <div class="card-body">
                      <h5 class="card-title">Prospective Club</h5>
                      <p class="card-text">Example of a short summary of a club</p>
                    </div>
                  </div>
            </div>         
          </div>
        </div>
        <br>
        <footer class="page-footer font-small unique-color-dark pt-4" style ="background-color: darkgrey;">

            <!-- Footer Elements -->
            <div class="container">
        
            <!-- Call to action -->
            <% if (loggedIn) {%> 
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1" style = "color:white">Claim your organization!</h5>
                    </li>
                    <li class="list-inline-item">
                        <button type="button" onclick= "window.location.href = '/clubsignup';" class="btn btn-outline-secondary" style="margin-left:1%; width: 110px; height: 38px;">Claim Today!</button>
                    </li>
                </ul>
            <% } %>
        
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1" style = "color:white">Looking to add your organization?</h5>
                </li>
                <li class="list-inline-item">
                    <button type="button" onclick= "window.location.href = '/howtoregister';" class="btn btn-outline-secondary" style="margin-left:1%; width: 110px; height: 55px;">Learn More Here!</button>
                </li>
            </ul>
                
            
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1" ><a style ="color: white;" href = "/aboutus">About Us</a></h5>
                </li>
                
            </ul>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style = "color:white">© 2020 Copyright:
            <a href="/" style ="color: white;">ClubArchive.com</a>
            </div>
            <!-- Copyright -->
        
        </footer>
  <!-- Footer -->
        
    </body>
</html>
