<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <hr>
    <h2 style = "text-align: center;"> Thank you for submitting a ticket!</h2>
    <h4 style = "text-align: center;">Your feedback means a lot to us and we will tend to it as soon as we can.</h4>
    <h4 style = "text-align: center;">If you want to check the status of your ticket then head back to the submit feedback page! Happy Clubbing!</h4>
   <center> <a  href = "/betatest"><h5>Back to the Beta Testing area</h5></a></center>
</body>