<!DOCTYPE html>



<html>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <title>ClubArchive</title>
        <style>
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .SmallSignUp {
                color: blue;
                font-size: 100%;
                margin-left : 70%;
            }
            .SmallSignUp:visited {
                color:blue;
            }
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 3%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .vertical-menu {
                width: 200px; /* Set a width if you like */
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color:#38a8f3; /* Add a green color to the "active/current" link */
                color: white;
            }
            .alert.info {background-color: #2196F3;width:30%}  
            @media only screen and (max-width: 600px) {
                .SmallPassword {
                    color: blue;
                    margin-left:500px; 
                    margin-top: 1%;
                }
            }
            
                
        </style>

    </head>


    <body>

        <hr>
        <div >
            
            <div  class = "container">
                <div class = "row">
                    <div class = "col-sm-2">
                        <a href = "/userprofile" style = "text-decoration: none; color: #38a8f3;"><img src = "../public/img/back arrow.png" style = "width: 20px; object-fit: cover; "> Back to Profile</a>
                        <div class="vertical-menu">
                            <a href="/usersettings" >Profile</a>
                            <a href="/profile_password" class="active">Password Reset</a>
                          </div>
                    </div>
                    <div class = "col-sm-10">
                        <% if (error != null) {%>
                            <div class=" alert alert info" style = "margin-left:33%">
                                 <span class="closebtn">&times;</span>  
                                 <strong>Error : </strong> <%= error %>
                             </div>
                         <% } %>
                        <form action = "/updatepassword" method ="POST">

                            <input placeholder="Current Password" type="password" class="form-control form-control-lg inform" name = "verifyPassword" style = "margin-top: 1%;width :30%; height : 50%; margin-left : 33%; margin-right : 1%" >
                            <input placeholder="New Password" type="password" class="form-control form-control-lg inform" name = "newPassword" style = "margin-top: 1%;width :30%; height : 50%; margin-left : 33%;  margin-right : 1%">
                            <input placeholder="Confirm New Password" type="password" class="form-control form-control-lg inform" name = "confirmNewPassword" style = "margin-top: 1%;width :30%; height : 50%; margin-left : 33%;margin-right : 1%">
                            <button  type="submit" name = "submit" class="btn btn-outline-secondary" >Save New Password</button>
                            
                        </form>
                    </div>
                    <script>
                        var close = document.getElementsByClassName("closebtn");
                        var i;
                        
                        for (i = 0; i < close.length; i++) {
                          close[i].onclick = function(){
                            var div = this.parentElement;
                            div.style.opacity = "0";
                            setTimeout(function(){ div.style.display = "none"; }, 600);
                          }
                        }
                    </script>
                </div>
                    

                    <br>
                    <br>
            </div>
        </div>
             





    </body>






</html>