<!--Login page-->
<!DOCTYPE html>



<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>ClubArchive</title>
        <style>
            .btn, .btn-outline-secondary {
                margin-left: 33%; margin-top: 2%; width : 30%; height: 5%; font-size: 90vw 90vh;
            }
            .SmallPassword {
                color: blue;
            
                margin-top: 1%;
                margin-left:18%;
                font-size:90%
            }
            .SmallPassword:visited {
                color:blue;
            }
            .SmallSignUp {
                 color:blue;
            }
            .SmallSignUp {
                color:blue;
            }
            
            .text2 {
                margin-left:700px; 
                margin-top:1%
            }
            .text3 {
                margin-left:53%; margin-top:1%
            }
            .btn-outline-secondary:hover {
                background-color: lightgray
            }
            .form-control, .form-control-lg {
                width :30%; height : 50%; margin-left : 33%;
            }
        
            .closebtn {
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }
            .alert.info {background-color: #2196F3;width:30%}  
            @media only screen and (max-width: 600px) {
                .SmallPassword {
                    color: blue;
                    margin-left:500px; 
                    margin-top: 1%;
                }
            }
        </style>
        

    </head>


    <body>

        <nav class="navbar navbar-expand-sm navbar-light" style = "background-color:#38a8f3 ;">
           
                <a href = "/" style = " margin-left: 45%;"><img src = "/public/img/finalLogo2.png" style="width :100px; height:100px;" ></a>
                
            
        </nav>
        

        <div style = "margin-top : 6%">
            <% if (error != null) {%>
               <div class=" alert alert info" style = "margin-left:33%">
                    <span class="closebtn">&times;</span>  
                    <strong>Error : </strong> <br> <%= error %> 
                </div>
            <% } else{%>
            <form action = "/newUserPassword" method = "POST" autocomplete="off"><!--TODO: ADD ACTION-->
                <input name="resetId" style="display:none;"  value=<%= resetId %> >
                <input placeholder="New Password" type="password" name = "newPassword"  id = "username" class="form-control form-control-lg" autocomplete="new-password">
                <input placeholder="Verify New Password" type="password" name = "verifyPassword" id = "password" class="form-control form-control-lg" style = "margin-top:2%" autocomplete="new-password">                
                
                <button  type="submit" name = "submit" class="btn btn-outline-secondary">Log In</button>                
            </form>
            <% } %>
        </div>
        <script>
            var close = document.getElementsByClassName("closebtn");
            var i;
            
            for (i = 0; i < close.length; i++) {
              close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
              }
            }
        </script>
            


    </body>






</html>


